{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Your App
      {% endblock %}
    </title>
    <!-- Include your stylesheets and other common assets here -->
  </head>
  <body>
    <div id="wrapper">
      {% include 'components/_sidebar.html' %}
      {% include 'components/_topbar.html' %}
      <div id="content">
        <main>
          {% block content %}
          {% endblock %}
        </main>
      </div>
    </div>
    <!-- Include your scripts and other common assets here -->
  </body>
</html>
